# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package files
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*

# Eclipse
.project
.classpath
.cproject
.settings/
target/
bin/

# IntelliJ IDEA
*.iml
.idea/
out/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Gradle
.gradle/
build/

# Maven
target/

# VS Code
.vscode/

# Mac system files
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Other
*.swp
